<!-- ICON PAGE -->
<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

<!-- CDN CSS BOOTSTRAP -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- CUSTOM STYLES FOR THIS TEMPLATE -->
<link href="../static/css/dashboard.css" th:href="@{c/css/dashboard.css}" rel="stylesheet">

<!-- CSS LINK -->
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

<!-- CDN FONT AWESOME -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>