body {
    background-color: #1E1E1E;
}

/* LINKS */
a {
    text-decoration: none;
    color: #FFF;
}
a:hover, a:active {
    text-decoration: none;
    color: #000;
}

h1, h2 {
    color:aliceblue !important;
}

/* NAVBAR */
.bg-title-navbar {
    background-color: #000;
}

/* SIDE NAVBAR */

.nav-sidebar {
    background-color: #333333;
    min-height:84vh;
}
.nav-sidebar .sidebar-sticky {
    background-color: #333333;
    color: aliceblue !important;
}
.nav-sidebar a {
    color: aliceblue !important;
}


/* FOOTER */

footer {
    background-color:#000;
    position: absolute;
    width: 100%;
    margin-right: 0;
    z-index:999;
    bottom:0;
    right:0;
}

.rectcolor {
    background-color: #343A40;
    position:absolute;
    width:16.65%;
    z-index:1000;
    height:50px;
    
}

footer ul.reseauxsociaux {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

footer ul.reseauxsociaux li {
    display: inline;
    font-size: 25px;
    text-align: center;
    padding: 0 15px;
}

footer .copyright {
    text-align: center;
    font-size: 0.7em;
    color: #FFF;
}